<%= form_tag('/users/changepassword', method: :post) do %>
    current_password:<%= text_field_tag 'current_password'%><br/>
    password:<%= text_field_tag 'password'%><br/>
    Name:<%= text_field_tag 'confirm_password'%><br/>
<button type="submit">send </button>
<% end %>