notyfy({
    text: '<%= flash[:notice]%>',
    type: 'alert',
    dismissQueue: false,
    layout: 'top',
    timeout: 5000 // delay for closing event. Set false for sticky notifications
});


$(".name_update").text($(quick_form).find("input.name_update").val());//TODO xem lai type sau khi update
$("div.description_update").html($(quick_form).find("textarea.description_update").val());

if($(quick_form).find("textarea.summary_update").val()!=null){
    $("div.summary_update").html($(quick_form).find("textarea.summary_update").val());
}
if($(quick_form).find("button.selectpicker").val()!=null){
    $("span.type_update").text($(quick_form).find("button.selectpicker").attr("title"));
}
if($(quick_form).find("input.url_update").val()!=null){
    if($(quick_form).find("input.url_update").val().length==0){
        $("#div_Url").empty();
    }else{
        var material_url = $(quick_form).find("input.url_update").val();
        var urltemplate = "<p><span class=\"strong\"><%=t('material.lb_url')%></span>: <a class=\"url_update\" href=\""+material_url+"\">"+material_url+"</a></p>";
        $("#div_Url").html(urltemplate);
    }
}
$('#updateModal').modal('hide');